<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>- 404</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>404 not found</title>
  <style>
    * {
      color: red;
    }
    body {
      background-color: black;
    }

    .bg-divider {
      background-color: pink;
    }
    .w-divider {
      width: 1px;
    }
  </style>
</head>
<body class="font-sans antialiased">
  <div class="flex flex-col items-center justify-center h-screen text-white">
    <div class="flex h-5 items-center space-x-4">
      <h1 class="text-4xl font-bold" style="color: pink">404</h1>
      <div class="shrink-0 bg-divider border-none h-full w-divider" role="separator"></div>
      <h2 style="color: #ffc0cb92">Page not found</h2>
      <div class="shrink-0 bg-divider border-none h-full w-divider" role="separator"></div>
      <a href="/">Dashboard</a>
    </div>
  </div>
</body>
</html>
